In [ ]:
import numpy as np
import pandas as pd

In [20]:
categr_fields = [
    "MSSubClass",
    "MSZoning",
    "Street",
    "Alley",
    "LotShape",
    "LandContour",
    "Utilities",
    "LotConfig",
    "LandSlope",
    "Neighborhood",
    "Condition1",
    "Condition2",
    "BldgType",
    "HouseStyle",
    "RoofStyle",
    "RoofMatl",
    "Exterior1st",
    "Exterior2nd",
    "MasVnrType",
    "Foundation",
    "Heating",
    "CentralAir",
    "Electrical",
    "GarageType",
    "SaleType",
    "MiscFeature",
    "SaleCondition"
]

In [21]:
satisfaction = {
        "Ex": 5,
        "Gd": 4,
        "TA": 3,
        "Fa": 2,
        "Po": 1,
        "NA": 0,
    }

In [22]:
live_qua = {
    "GLQ":6,
    "ALQ":	5,
    "BLQ": 4,
    "Rec" : 3,
    "LwQ": 2,
    "Unf": 1,
    "NA": 0
}

In [23]:
eval_fields = {
    "ExterQual":satisfaction,
    "ExterCond": satisfaction,
    "BsmtQual": satisfaction,
    "BsmtCond": satisfaction,
    "BsmtExposure": {
        "Gd": 4,
        "Av": 3,
        "Mn": 2,
        "No": 1,
        "NA": 0,
    } ,
    "BsmtFinType1": live_qua,
    "BsmtFinType2": live_qua,
    "HeatingQC": satisfaction,
    "KitchenQual": satisfaction,
    "Functional":{
        "Typ": 7,
        "Min1": 6,
        "Min2": 5,
        "Mod": 4,
        "Maj1": 3,
        "Maj2": 2,
        "Sev": 1,
        "Sal": 0
    },
    "FireplaceQu": satisfaction,
    "GarageFinish":{
        "Fin":3,
        "RFn": 2,
        "Unf": 1,
        "NA": 0
    },
    "GarageQual":satisfaction,
    "GarageCond":satisfaction,
    "PavedDrive":{
        "Y": 2,
        "P": 1,
        "N": 0
    },
    "PoolQC":satisfaction,
    "Fence":{
        "GdPrv": 2,
        "MnPrv": 1,
        "GdWo": 2,
        "MnWw": 1,
        "NA": 0
    },
}

In [39]:
def get_bin_values(df, categr_fields):
    bin_features = {}
    for field in categr_fields:
        attrs = df[field].unique()
        for attr in attrs:
            fieldname = field + "_" + str(attr)
            bin_vec = df[field] == attr
            bin_features[fieldname] = bin_vec.astype(int)
    return bin_features

In [40]:
def convert_str_values(df, eval_fields):
    for field, value_map in eval_fields.iteritems():
        tmp = []
        non_zeros = []
        for v in df[field]:
            if value_map.get(v):
                value = value_map[v]
                tmp.append(value)
                non_zeros.append(value)
            else:
                tmp.append("NA")
        aver_v = np.average(non_zeros)
        # assign average value to None values
        value_arr = [aver_v if x=="NA" else x for x in tmp]
        df[field] = value_arr
    return df

In [41]:
df = pd.read_csv("all/train.csv")
bin_features = get_bin_values(df, categr_fields)
bin_df = pd.DataFrame.from_dict(bin_features)
# drop the binary features
df = df.drop(labels=categr_fields, axis=1)
# convert the other str fields
convert_str_values(df, eval_fields)
# combine with binary feature vectors
final_df = pd.concat([df, bin_df], axis=1)

In [45]:
final_df.to_csv("cleaned_data.csv")

In [46]:
final_df.head()

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,...,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,Street_Grvl,Street_Pave,Utilities_AllPub,Utilities_NoSeWa
0,1,65.0,8450,7,5,2003,2003,196.0,4,3,...,0,0,0,0,0,1,0,1,1,0
1,2,80.0,9600,6,8,1976,1976,0.0,3,3,...,0,0,0,0,0,1,0,1,1,0
2,3,68.0,11250,7,5,2001,2002,162.0,4,3,...,0,0,0,0,0,1,0,1,1,0
3,4,60.0,9550,7,5,1915,1970,0.0,3,3,...,0,0,0,0,0,1,0,1,1,0
4,5,84.0,14260,8,5,2000,2000,350.0,4,3,...,0,0,0,0,0,1,0,1,1,0

In [49]:
final_df[['MoSold', 'YrSold']]

      MoSold  YrSold
0          2    2008
1          5    2007
2          9    2008
3          2    2006
4         12    2008
5         10    2009
6          8    2007
7         11    2009
8          4    2008
9          1    2008
10         2    2008
11         7    2006
12         9    2008
13         8    2007
14         5    2008
15         7    2007
16         3    2010
17        10    2006
18         6    2008
19         5    2009
20        11    2006
21         6    2007
22         9    2008
23         6    2007
24         5    2010
25         7    2009
26         5    2010
27         5    2010
28        12    2006
29         5    2008
...      ...     ...
1430       7    2006
1431      10    2009
1432       8    2007
1433       5    2008
1434       5    2006
1435       7    2008
1436       5    2007
1437      11    2008
1438       4    2010
1439      11    2007
1440       9    2008
1441       5    2008
1442       4    2009
1443       5    2009
1444      11    2007
1445       5    2007
1446       4    2010
1447      12    2007
1448       5    2007
1449       8    2006
1450       9    2009
1451       5    2009
1452       5    2006
1453       7    2006
1454      10    2009
1455       8    2007
1456       2    2010
1457       5    2010
1458       4    2010
1459       6    2008

[1460 rows x 2 columns]